.form-control:focus {
    color: #000000 !important;
	background-color: #ced4da !important;
	border: unset !important;
    border-bottom: 1px solid !important;
    border-color: #343a40 !important;
    box-shadow: 0 0.3rem 0.8rem 0 #343a40 !important;
}

.form-control {
	border: unset !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: unset !important;
}
.input-group-text {
	background-color: unset !important;
	border: unset !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: unset !important;
}

.map-marker {
    /* adjusting for the marker dimensions
    so that it is centered on coordinates */
    margin-left: -8px;
    margin-top: -8px;
    box-sizing: border-box;
}
.map-marker.map-clickable {
    cursor: pointer;
}

#chartdiv {
   width: 100%;
   height: 500px
}
