<header>
  <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">{{title}}</a>
  <button class="navbar-toggler" type="button" (click)= "ToggleClass()" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span [ngClass]="click ? 'navbar-toggler-icon-click' : 'navbar-toggler-icon'"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/speakers">{{ 'speakers' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tweets">{{ 'tweets' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/liyokuna/btt">{{ 'repo' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#creditModal">{{ 'credit' | translate }}</a>
      </li>
    </ul>
  </div>
</nav>
</header>

<router-outlet></router-outlet>

<!-- Modal -->
<div class="modal fade" id="creditModal" tabindex="-1" role="dialog" aria-labelledby="creditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="creditModalLabel">{{ 'credit' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>
              Thanks to <a class="link" href="https://twitter.com/samanthabretous" rel="author">Samantha Bretous</a> for the <a class="link" href="https://github.com/samanthabretous/black-speakers-in-tech" rel="external">speakers repo</a>.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>