<nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Btt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/speakers">{{ 'speakers' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tweets">{{ 'tweets' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ 'blog' | translate }}</a>
      </li>
    </ul>
  </div>
</nav>
<br><br><br><br>
<a href=# (click)=makecall()>make Call</a>

<router-outlet></router-outlet>
