<div class="container">
  <div>
    <h1 class="text-center">{{ 'tweets' | translate }} </h1>
  </div>
    <div class="row d-flex justify-content-center">
          <form [formGroup]="checkboxGroupForm" (change)="onChange()">
              <div class="btn-group btn-group-toggle">
                <label class="btn-secondary" ngbButtonLabel>
                  <input type="checkbox" formControlName="btt" ngbButton> {{ 'btt' | translate }} 
                </label>
                <label class="btn-secondary" ngbButtonLabel>
                  <input type="checkbox" formControlName="jobs" ngbButton> {{ 'jobs' | translate }} 
                </label>
                <label class="btn-secondary" ngbButtonLabel>
                  <input type="checkbox" formControlName="conf" ngbButton> {{ 'conf' | translate }} 
                </label>
              </div>
            </form>
      </div>
</div>
<br>
<div class="container-fluid">
    <div *ngIf="loading; else loaded" >
      <div class="row d-flex justify-content-center">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
      </div>
    </div>
    <ng-template #loaded>
      <div class="row fadeInEffect">
            <div *ngFor="let item of tweetsdata" class="col" #loaded>
                <div class="card bg-dark" style="width: 15rem;">
                  <img class="card-img-top" src={{item.user.profile_image_url}}>
                <div class="card-body">
                    <h5 class="card-title">{{item.user.name}}</h5>
                    <hr>
                    <p class="card-text">
                        {{item.text}}
                    </p>
                    <div class="card-action">
                      <a href="https://twitter.com/{{item.user.screen_name}}" class="btn btn-info">{{ 'profile' | translate }}</a>
                    </div>
                </div>
            </div>
          </div>
    </div>
    </ng-template>
</div>
<a *ngIf="showScroll" href="javascript:void(0)" class="scroll-up" attr.aria-label="Up" title="Up" (click)="this.ScrollToTop()">
  <span class="scroll-up-icon"></span>
</a>