<div class="container">
  <div>
    <h1 class="text-center">{{ 'tweets' | translate }} </h1>
  </div>
    <div class="row d-flex justify-content-center">
          <form [formGroup]="checkboxGroupForm" (change)="onChange()">
              <div class="btn-group btn-group-toggle">
                <label class="btn-secondary" ngbButtonLabel>
                  <input type="checkbox" formControlName="btt" ngbButton> {{ 'btt' | translate }} 
                </label>
                <label class="btn-secondary" ngbButtonLabel>
                  <input type="checkbox" formControlName="jobs" ngbButton> {{ 'jobs' | translate }} 
                </label>
                <label class="btn-secondary" ngbButtonLabel>
                  <input type="checkbox" formControlName="conf" ngbButton> {{ 'conf' | translate }} 
                </label>
              </div>
            </form>
      </div>
</div>
<br>
<div class="container-fluid">
    <div *ngIf="loading; else loaded" >
      <div class="row d-flex justify-content-center">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
      </div>
    </div>
    <ng-template #loaded>
      <div class="row fadeInEffect" *ngIf="!noData else nodatatoshow">
        <div *ngFor="let tweet of tweetsdata" class="col">
            <app-tw-card [item] = 'tweet'></app-tw-card>
        </div>
      </div>
    <ng-template #nodatatoshow>
      <div class="col-lg-12">
        <div class="alert alert-info text-center" role="alert">
          {{ 'noDataAvailble' | translate }} 
        </div>
      </div>
    </ng-template>
      <div *ngIf="isLoading" class="spinner-container-2">
        <span class="spinner-2"></span>
      </div>
      <br>
    </ng-template>
</div>
<a *ngIf="showScroll" href="javascript:void(0)" class="scroll-up" attr.aria-label="Up" title="Up" (click)="this.ScrollToTop()">
  <span class="scroll-up-icon"></span>
</a>