.spinner {
    width: 40px;
    height: 40px;
  
    position: relative;
    margin: 100px auto;
}
  
.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #343a40;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(3.0) }
}

@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(3.0);
        -webkit-transform: scale(3.0);
    }
}

hr {
    border-top: 1px solid white !important;
}

.spinner-container-2 {
    display: flex;
    margin-top: 50px;
}
  
.spinner-2 {
    width: 2.5rem;
    height: 2.5rem;
    border-top-color: #343a40;
    border-left-color: #343a40;

    animation: spinner-2 400ms linear infinite;
    -webkit-animation: spinner-2 400ms linear infinite;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 4px;
    border-radius: 50%;
    margin: auto;
}
  
@keyframes spinner-2 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
