/* You can add global styles to this file, and also import other style files */

h1 {
    font-size: 120px;
    text-transform: uppercase;
}

.center {	
	top: 45%;
	left: 30%;
	right:30%;
	position: absolute;
}

.bg-grey {
	background-color: #e9ecef;
}
