/* You can add global styles to this file, and also import other style files */

h1 {
    font-size: 120px;
    text-transform: uppercase;
}

.center {	
	bottom:45%;
	top: 40%;
	left: 30%;
	right:30%;
	position: absolute;
}

.bg-grey {
	background-color: #e9ecef;
}

.hidden-bottom {
	margin-bottom: -0.7rem;
	-webkit-transition: margin-bottom 2s; /* For Safari 3.1 to 6.0 */
	transition: margin-bottom 2s;
}

.hidden-bottom:hover {
	margin-bottom: 0rem;
}

@-webkit-keyframes effect {
	from {background-color: #f8f9fa;}
	to {background-color: #111213;}
}
  
/* Standard syntax */
@keyframes effect {
	from {background-color: #f8f9fa;}
	to {background-color: #111213;}
}

.effect {
	-webkit-animation-name: effect; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: infinite;
  	animation-name: effect;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.app-loading {
	.logo {
	  width: 100px;
	  height: 100px;
	  //background: url(./assets/group.png) center center no-repeat; 
	}
}

.fadeInEffect {
	animation: fadein 3s;
	-moz-animation: fadein 3s; /* Firefox */
	-webkit-animation: fadein 3s; /* Safari and Chrome */
	-o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
	from {
			opacity:0;
	}
	to {
			opacity:1;
	}
}
@-moz-keyframes fadein { /* Firefox */
	from {
			opacity:0;
	}
	to {
			opacity:1;
	}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
	from {
			opacity:0;
	}
	to {
			opacity:1;
	}
}
@-o-keyframes fadein { /* Opera */
	from {
			opacity:0;
	}
	to {
			opacity: 1;
	}
}