<div class="bg-grey">
  <div class="center">
    <h1 class="display-4 glitch" data-text="Black">Black Tech Twitter</h1>
    <p class="lead">{{ 'letgettogether' | translate }} !</p>
      <div [ngClass]="click ? 'input-group border-span' : 'input-group'">
        <div class="input-group-prepend">
          <span class="input-group-text" id="mail-addon">@</span>
        </div>
        <input type="text" (focus)= "focusIn()" (focusout)= "focusOut()" class="form-control" placeholder="{{ 'e-mail' | translate }}" attr.aria-label="{{ 'e-mail' | translate }}" aria-describedby="mail-addon">
      </div>
  </div>
</div>


<div class="fixed-bottom fadeInEffect">
  <div class="d-flex justify-content-center">
    <a href="/repo" class="btn btn-light btn-sm effect hidden-bottom" role="button" attr.aria-label="{{ 'next' | translate }}" >{{ 'next' | translate }}</a>
  </div>
</div>